--USE [SQLTutorial]
--GO
--/****** Object:  StoredProcedure [dbo].[Temp_Employee]    Script Date: 25-Nov-25 15:54:02 ******/
--SET ANSI_NULLS ON
--GO
--SET QUOTED_IDENTIFIER ON
--GO
ALTER PROCEDURE [dbo].[Temp_Employee]
@JobTitle nvarchar(50)
AS
create table #temp_employee(
JobTitle varchar(100),
EmployeePerJob int,
AvgAge int,
AvgSalary int
)

insert into #temp_employee
select JobTitle, count(JobTitle), Avg(Age), AVG(Salary)
from SQLTutorial..EmployeeDemographics Emp
join SQLTutorial..EmployeeSalary Sal
	on Emp.EmployeeID = Sal.EmployeeID
WHERE JobTitle = @JobTitle
Group by JobTitle

SELECT *
FROM #Temp_Employee

EXEC Temp_Employee @JobTitle = 'CEO'